* {
  font-weight: bold;
}

.container {
  width: 600px;
}

#start {
  display: block;
  margin: 10px auto;
}

.tiles {
  display: flex;
}

.tile {
  width: 50px;
  height: 50px;
  background-color: rgb(110, 178, 125);
  margin: 5px;
  text-align: center;
  line-height: 50px;
}

.active {
  background-color: red;
}

#win {
  /* display: block; */
  background-color: rgb(54, 223, 57);
  /* width: 50px;
  height: 50px; */
}

.field {
  background-color: rgb(236, 226, 118);
  width: 600px;
  height: 300px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}

.field_cell {
  position: relative;
  background-color: rgb(221, 80, 80);
  border: 1px solid black;
  width: 98px;
  height: 90px;
  /* margin: 5px; */
}

.number {
  background-color: rgba(214, 242, 129, 0.2);
  font-size: 20px;
  display: block;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 18px;
}

.show-bet {
  background-color: #fff;
  width: 50px;
  height: 50px;
  position: absolute;
  bottom: 0;
  right: 0;
}



.bigbet {
  width: 49%;
}

.bets {
  display: flex;
}

.current-bet {
  border-radius: 50%;
  width: 50px;
  height: 50px;
  margin: 5px;
  text-align: center;
  line-height: 50px;
  background-color: rgb(255, 149, 0);
  cursor: pointer;
}

.current-bet:hover {
  background-color: rgb(223, 15, 15);
}

.current-bet:active {
  background-color: rgb(223, 150, 15);
}

.bottom-menu {
  display: flex;
  width: 600px;
  justify-content: space-between;
}

.cash {
  background-color: rgb(24, 255, 74);
  padding: 20px 20px 0;
}

.true {
  color: blue;
}

.false {
  color: red;
}